body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
}

.form-section {
    padding: 40px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-custom {
    border-radius: 15px;
    background-color: #6C7A89;
    color: #fff;
    padding: 5px 20px;
    text-decoration: none;
}

.btn-custom:hover {
    text-decoration: none;
    color: #fff;
}

.btn-submit-custom {
    background-color: #32d338d1;
    border-color: #32d338d1;

}